<feed>
  
  <more_info><name>Schnitzelbuffet</name><text>&lt;u>&lt;b>Schnitzelbuffet&lt;/b>&lt;/u>\n\nPaniertes Schweineschnitzel\nSchweineschnitzel „Holsteiner Art“\nSchweineschnitzel „Hawaii“\nRahmgeschnetzeltes vom Schwein mit frischen Champignons\nSchweinefilet im Speckmantel\nPaniertes Hähnchenschnitzel\nHähnchenbrustfilet „Amsterdam“\nHähnchenbrustfilet „Jay Jay“\nHähnchenbrustfilet mit Gorgonzola überbacken\nStreifen von der gebratenen Hähnchenbrust in einer Basilikumsahnesauce\n\nGemüse\nRahmchampignons\nSchmorzwiebeln\n\nZigeunersauce\nSauce Hollandaise\nPfeffersauce\n\nBratkartoffeln\nRosmarinkartoffeln\nBandnudeln\nPommes Frites\nKroketten\n\nTomate-Mozzarella mit Basilikum und Olivenöl\nGegrillte Zucchini\nGegrillte Auberginen\nPeperoni mit Frischkäse gefüllt\nEingelegte Champignons\nGetrocknete Tomaten\nBorettana-Zwiebeln\nOliven\n\nPorreesalat in Sahne\nWurzelsalat\nRohkostsalate\nJoghurtdressing\nCocktaildressing\n\nVanilleeis mit heißen Zimtkirschen</text></more_info>
  
  <entry><title>Schnitzelbuffet - AUSGEBUCHT</title><text>Reichhaltiges Buffet in gewohnter Qualität\n\n- Nur Vorbestellungen -</text><date>14. Oktober 2015</date><time>ab 18:00 Uhr</time><price>14,00 €</price><more_info>Schnitzelbuffet</more_info></entry>
  
</feed>
